<div class="titulo">
    <h1>Listado de Empleados</h1>
</div>

<div class="container">
  <div class="error-container">
    <mat-form-field class="buscar">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="cadenaBuscar($event)"  >
    </mat-form-field>
  </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z15 demo-table" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="color:crimson"> Nombre </th>
        <td mat-cell *matCellDef="let element"> <strong> {{element.Nombre}}  </strong>  </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="color:crimson"> Apellido </th>
        <td mat-cell *matCellDef="let element"><strong> {{element.Apellido}}  </strong> </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef><button [routerLink]="['/agregarEmpleado']" mat-button matTooltip="Agregar" class="agregar">
            <mat-icon mat-icon-font>personadd</mat-icon>
        </button></th>
        <td mat-cell *matCellDef="let element">
           
            <mat-icon mat-icon-font routerLink="/verEmpleado/{{element.Id}}"  matTooltip="Ver" class="visibility">visibility</mat-icon>
            <mat-icon mat-icon-font routerLink="/editarEmpleado/{{element.Id}}"   matTooltip="Editar" class="edit">edit</mat-icon>
            <mat-icon  mat-icon-font (click)="confirmDelete(element.Id)"  matTooltip="Eliminar" class="delete">delete</mat-icon>
      
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>

</div>