<div class="titulo">
    <h1>{{operacion}} Empleado</h1>
</div>

<div class="formulario">


        <form [formGroup]="form"  (ngSubmit)="agregarEditarEmpleado()">
            <div class="form-field">
                <mat-form-field appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="nombre">
                  <mat-error *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
                    El Nombre <strong>es requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="form.get('nombre')?.hasError('maxlength') && form.get('nombre')?.touched">
                    Cantidad maxima de caracteres <strong>(10)</strong>
                  </mat-error>
                  <mat-error *ngIf="form.get('nombre')?.hasError('pattern') && form.get('nombre')?.touched">
                    El campo <strong>No Acepta Numeros</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="form-field">
                <mat-form-field appearance="fill">
                  <mat-label>Apellido</mat-label>
                  <input matInput formControlName="apellido">
                  <mat-error *ngIf="form.get('apellido')?.invalid && form.get('apellido')?.touched">
                    El Apellido <strong>es requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="form.get('apellido')?.hasError('maxlength') && form.get('apellido')?.touched">
                    Cantidad maxima de caracteres <strong>(20)</strong>
                  </mat-error>
                  <mat-error *ngIf="form.get('apellido')?.hasError('pattern') && form.get('apellido')?.touched">
                    El campo <strong>No Acepta Numeros</strong>
                  </mat-error>
                </mat-form-field>
              </div>
                
                <div class="form-field" *ngIf="ocultarInputs">
                  <mat-form-field appearance="fill">
                    <mat-label>Pais</mat-label>
                    <input type="text" formControlName="pais" matInput placeholder="Pais">
                    <mat-error *ngIf="form.get('pais')?.hasError('pattern') && form.get('pais')?.touched">
                      El campo <strong>No Acepta Numeros</strong>
                    </mat-error>
                </mat-form-field>
              
                </div>
                
                <div class="form-field" *ngIf="ocultarInputs">
                  <mat-form-field appearance="fill">
                    <mat-label>Ciudad</mat-label>
                    <input type="text" formControlName="ciudad" matInput placeholder="Ciudad">
                    <mat-error *ngIf="form.get('ciudad')?.hasError('pattern') && form.get('ciudad')?.touched">
                      El campo <strong>No Acepta Numeros</strong>
                    </mat-error>
                </mat-form-field>
                </div>
                
                <div class="form-field" *ngIf="ocultarInputs">
                    <mat-form-field appearance="fill">
                      <mat-label>Direccion</mat-label>
                    <input type="text" formControlName="direccion" matInput placeholder="Direccion">
                </mat-form-field>
                </div>
            <br>
            <button  type="submit" class="Guardar" mat-button color="primary">Guardar</button>
            <button class="Volver" routerLink="listEmpleados" mat-button color="accent">Volver</button>
        </form>
  
</div>