*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.containerGeneral  {
    display:flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.containerRight{
    display:flex !important;
    justify-content: flex-end !important;
    align-items: center;
    width: 50%;
    background-color: blue;
 }

 .containerLeft{
    display:flex !important;
    justify-content: flex-start !important;
    align-items: center;
    width: 50%;
    background-color: red;
 }

 .containerLeft input{
    margin-right: 10px;
 }

